/* btn styling */

.btn {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white; 
    background-color: black;
    font-size: 15px;
    font-family: inherit; 
  }
  
  .btn:focus {
    outline: none; 
  }
  
  .btn-block {
    display: block; 
    width: 100%;
  }